In [1]:
import pandas as pd
import sqlite3

### Data Dictionary:
- **MSRP** (Manufacturer’s Suggested Retail Price) : It’s the price set by the manufacturer as the recommended selling price for a product.

In [2]:
# Create connection the the database
conn = sqlite3.connect('sales.db')

In [3]:
# Check the table(s) present in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)

In [4]:
tables

                 name
0      sales_raw_data
1  sales_data_summary
2            products
3           customers
4     sqlite_sequence
5              orders
6     order_deal_size
7         sales_facts

In [5]:
# Find the number of records
for table in tables['name']:
    print('-'*50, f"{table}", '-'*50)
    print('Count of records:', pd.read_sql(f"SELECT COUNT(*) count FROM {table}", conn)['count'].values[0])
    display(pd.read_sql("SELECT * FROM sales_raw_data LIMIT 5",conn))

-------------------------------------------------- sales_raw_data --------------------------------------------------
Count of records: 2823

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

-------------------------------------------------- sales_data_summary --------------------------------------------------
Count of records: 2823

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

-------------------------------------------------- products --------------------------------------------------
Count of records: 109

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

-------------------------------------------------- customers --------------------------------------------------
Count of records: 276

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

-------------------------------------------------- sqlite_sequence --------------------------------------------------
Count of records: 1

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

-------------------------------------------------- orders --------------------------------------------------
Count of records: 307

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

-------------------------------------------------- order_deal_size --------------------------------------------------
Count of records: 0

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

-------------------------------------------------- sales_facts --------------------------------------------------
Count of records: 0

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

## Data preprocessing

In [6]:
columns = pd.read_sql("PRAGMA table_info(sales_raw_data)", conn)['name'].tolist()
print(columns)

['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE']

In [8]:
df = pd.read_sql("SELECT * FROM sales_raw_data", conn)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [10]:
for column in columns:
    print(f'Unique Values in {column}:', df[column].nunique())

Unique Values in ORDERNUMBER: 307
Unique Values in QUANTITYORDERED: 58
Unique Values in PRICEEACH: 1016
Unique Values in ORDERLINENUMBER: 18
Unique Values in SALES: 2763
Unique Values in ORDERDATE: 252
Unique Values in STATUS: 6
Unique Values in QTR_ID: 4
Unique Values in MONTH_ID: 12
Unique Values in YEAR_ID: 3
Unique Values in PRODUCTLINE: 7
Unique Values in MSRP: 80
Unique Values in PRODUCTCODE: 109
Unique Values in CUSTOMERNAME: 92
Unique Values in PHONE: 91
Unique Values in ADDRESSLINE1: 92
Unique Values in ADDRESSLINE2: 9
Unique Values in CITY: 73
Unique Values in STATE: 16
Unique Values in POSTALCODE: 73
Unique Values in COUNTRY: 19
Unique Values in TERRITORY: 3
Unique Values in CONTACTLASTNAME: 77
Unique Values in CONTACTFIRSTNAME: 72
Unique Values in DEALSIZE: 3

In [11]:
# Check Null Values
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

### Insights from our raw data so far
- Addressline 2 should be removed due to large chunk of missing values and phone column is not relevant
- Explore Data using ORDERNUMBER
- Replace Null Values
- Some column data types need to be changed
- Change column names for better readability

In [12]:
df.drop(columns=["ADDRESSLINE2", "PHONE"], inplace=True)

In [13]:
pd.read_sql("SELECT * FROM sales_raw_data WHERE STATE IS NULL", conn)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
1,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
2,10180,29,86.13,9,2497.77,11/11/2003 0:00,Shipped,4,11,2003,...,"184, chausse de Tournai",None,Lille,None,59000,France,EMEA,Rance,Martine,Small
3,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shipped,4,11,2003,...,"Drammen 121, PR 744 Sentrum",None,Bergen,None,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
4,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped,1,1,2004,...,"25, rue Lauriston",None,Paris,None,75016,France,EMEA,Perrier,Dominique,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1481,10327,37,86.74,4,3209.38,11/10/2004 0:00,Resolved,4,11,2004,...,Vinb'ltet 34,None,Kobenhavn,None,1734,Denmark,EMEA,Petersen,Jytte,Medium
1482,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",None,Madrid,None,28034,Spain,EMEA,Freyre,Diego,Small
1483,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,None,Oulu,None,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
1484,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",None,Madrid,None,28034,Spain,EMEA,Freyre,Diego,Medium
1485,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,None,Toulouse,None,31000,France,EMEA,Roulet,Annette,Small

In [14]:
df["TERRITORY"].value_counts(dropna=False)

TERRITORY
EMEA     1407
None     1074
APAC      221
Japan     121
Name: count, dtype: int64

In [15]:
df['ORDERNUMBER'].value_counts(ascending=False)

ORDERNUMBER
10332    18
10106    18
10159    18
10168    18
10398    18
         ..
10242     1
10189     1
10286     1
10216     1
10294     1
Name: count, Length: 307, dtype: int64

In [16]:
df["POSTALCODE"] = df["POSTALCODE"].astype("string")
df["POSTALCODE"] = df["POSTALCODE"].fillna("UNKNOWN")

In [17]:
df["STATE"] = df["STATE"].astype("string")
df["STATE"] = df["STATE"].fillna("UNKNOWN")

In [18]:
df['TERRITORY'] = df['TERRITORY'].astype('string')
df['TERRITORY'] = df['TERRITORY'].fillna('UNKNOWN')

In [19]:
# Change dtypes
df[df.select_dtypes(include='object').columns] = df.select_dtypes(include="object").astype("string")
df = df.astype({"ORDERDATE": "datetime64[ns]",
                "ORDERLINENUMBER": "string"})

In [20]:
pd.read_sql("SELECT * FROM sales_raw_data WHERE ORDERNUMBER = 10332 LIMIT 5", conn)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10332,46,95.13,15,4375.98,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium
1,10332,27,89.89,16,2427.03,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
2,10332,38,84.25,9,3201.50,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium
3,10332,35,64.69,8,2264.15,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
4,10332,24,52.67,1,1264.08,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small

In [21]:
# Standardize column names
df.columns = (df.columns.str.strip().str.lower().str.replace(' ', '_'))

In [22]:
df.columns

Index(['ordernumber', 'quantityordered', 'priceeach', 'orderlinenumber',
       'sales', 'orderdate', 'status', 'qtr_id', 'month_id', 'year_id',
       'productline', 'msrp', 'productcode', 'customername', 'addressline1',
       'city', 'state', 'postalcode', 'country', 'territory',
       'contactlastname', 'contactfirstname', 'dealsize'],
      dtype='object')

In [23]:
# Change column names manually
df.rename(columns={"ordernumber": "order_no",
                   "quantityordered":"quantity",
                    "priceeach": "price_per_unit",
                    "orderlinenumber": "order_line_no",
                    "orderdate": "order_date",
                    "productline": "product_line",
                    "productcode": "product_code",
                    "customername": "customer_name",
                    "addressline1": "address",
                    "postalcode":"postal_code",
                    "contactlastname": "contact_last_name",
                    "contactfirstname": "contact_first_name",
                    "dealsize": "deal_size"}, inplace=True)

In [24]:
df[["price_per_unit", "msrp"]]

      price_per_unit  msrp
0              95.70    95
1              81.35    95
2              94.74    95
3              83.26    95
4             100.00    95
...              ...   ...
2818          100.00    54
2819          100.00    54
2820          100.00    54
2821           62.24    54
2822           65.52    54

[2823 rows x 2 columns]

In [25]:
# Create new columns to calculate discount
df["discount_amount"] = df["msrp"] - df["price_per_unit"]
df["discount_pct"] = ((df["msrp"] - df["price_per_unit"]) / df["msrp"] * 100).round(2)

In [27]:
df.to_csv("clean_data.csv", index=False)

In [28]:
# Create summarized table
cursor = conn.cursor()

In [29]:
df.dtypes

order_no                       int64
quantity                       int64
price_per_unit               float64
order_line_no         string[python]
sales                        float64
order_date            datetime64[ns]
status                string[python]
qtr_id                         int64
month_id                       int64
year_id                        int64
product_line          string[python]
msrp                           int64
product_code          string[python]
customer_name         string[python]
address               string[python]
city                  string[python]
state                 string[python]
postal_code           string[python]
country               string[python]
territory             string[python]
contact_last_name     string[python]
contact_first_name    string[python]
deal_size             string[python]
discount_amount              float64
discount_pct                 float64
dtype: object

In [ ]:
cursor.execute("""CREATE TABLE sales_data_summary(
        order_no INT,
        quantity INT CHECK (quantity >= 0),
        price_per_unit REAL CHECK (price_per_unit >= 0),
        order_line_no VARCHAR(100),
        sales REAL CHECK (sales >= 0),
        order_date TEXT,
        status VARCHAR(100),
        qtr_id INT,
        month_id INT,
        year_id INT,
        product_line VARCHAR(100),
        msrp INT,
        product_code VARCHAR(100),                                         
        customer_name VARCHAR(100),
        address VARCHAR(100),
        city VARCHAR(100),
        state VARCHAR(100),
        postal_code VARCHAR(100),
        country VARCHAR(100),
        territory VARCHAR(100),
        contact_last_name VARCHAR(100),
        contact_first_name VARCHAR(100),
        deal_size VARCHAR(100),
        discount_amount REAL,
        discount_pct REAL,
        PRIMARY KEY (order_no, order_line_no)       
               );
""")

In [30]:
pd.read_sql_query("SELECT * FROM sales_data_summary", conn)

,order_no,quantity,price_per_unit,order_line_no,sales,order_date,status,qtr_id,month_id,year_id,...,city,state,postal_code,country,territory,contact_last_name,contact_first_name,deal_size,discount_amount,discount_pct
0,10107,30,95.70,2,2871.00,2003-02-24 00:00:00,Shipped,1,2,2003,...,NYC,NY,10022,USA,UNKNOWN,Yu,Kwai,Small,-0.70,-0.74
1,10121,34,81.35,5,2765.90,2003-05-07 00:00:00,Shipped,2,5,2003,...,Reims,UNKNOWN,51100,France,EMEA,Henriot,Paul,Small,13.65,14.37
2,10134,41,94.74,2,3884.34,2003-07-01 00:00:00,Shipped,3,7,2003,...,Paris,UNKNOWN,75508,France,EMEA,Da Cunha,Daniel,Medium,0.26,0.27
3,10145,45,83.26,6,3746.70,2003-08-25 00:00:00,Shipped,3,8,2003,...,Pasadena,CA,90003,USA,UNKNOWN,Young,Julie,Medium,11.74,12.36
4,10159,49,100.00,14,5205.27,2003-10-10 00:00:00,Shipped,4,10,2003,...,San Francisco,CA,UNKNOWN,USA,UNKNOWN,Brown,Julie,Medium,-5.00,-5.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,2004-12-02 00:00:00,Shipped,4,12,2004,...,Madrid,UNKNOWN,28034,Spain,EMEA,Freyre,Diego,Small,-46.00,-85.19
2819,10373,29,100.00,1,3978.51,2005-01-31 00:00:00,Shipped,1,1,2005,...,Oulu,UNKNOWN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium,-46.00,-85.19
2820,10386,43,100.00,4,5417.57,2005-03-01 00:00:00,Resolved,1,3,2005,...,Madrid,UNKNOWN,28034,Spain,EMEA,Freyre,Diego,Medium,-46.00,-85.19
2821,10397,34,62.24,1,2116.16,2005-03-28 00:00:00,Shipped,1,3,2005,...,Toulouse,UNKNOWN,31000,France,EMEA,Roulet,Annette,Small,-8.24,-15.26
2822,10414,47,65.52,9,3079.44,2005-05-06 00:00:00,On Hold,2,5,2005,...,Boston,MA,51003,USA,UNKNOWN,Yoshido,Juri,Medium,-11.52,-21.33

In [31]:
df.to_sql("sales_data_summary", conn, if_exists='replace', index=False)

2823